body {
    font-family: Arial, sans-serif;
    background-color: #c48a16;
}

.container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #9d1f1f;
    border: 1px solid #31720e;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ab0ae0;
}

div form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #a3b90e;
    color: #10d39f;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}